@import './color-styles.scss';

*{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $background;
}

input[type="password"],
input[type="email"]{
  border: none;
  outline: none;
  background-color: none;
}

button{
  background: $primary;
  color: $white;
  font-size: 16px;
  line-height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0px 16px;
  outline: none;
  
  &:hover{
    opacity: 0.9;
  }

  &:disabled{
    background-color: $disabledBackground;
    color: $disableColor;
    
    &:hover{
      opacity: 1
    }
  }
}
